

@font-face {
    font-family: "Permanent Marker";
    src: url("../fonts/PermanentMarker-Regular.ttf");
}

@font-face {
    font-family: "Architects Daughter";
    src: url("../fonts/ArchitectsDaughter-Regular.ttf");
}

.inactive-link {
    color: gray;
    cursor: not-allowed;
}

.vrsta {
    width: 100%;
    display: flex;

}

.main {
    margin: 0 auto;
    max-width: 1400px;

}

.header {

    background: #1ABC9C;

}


.ninja-vrsta {
    justify-content: space-around;

    position: relative;
    z-index: 2;
    max-width: 1400px;
    margin: 0 auto;
}

.inactive-background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6));
    display: none;
}

.visible {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #20e8c0;

}


* {
    font-family: "Verdana";
}

h1 {

    font-size: 72px;
    font-family: "Permanent Marker";

}

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.btn-ninja {
    display: block;
    background: none;
    border: none;
    width: 100%;
    text-align: center;
    border: 2px solid #1DD4B0;
    color: #1DD4B0;
    padding: 5px 0;
    cursor: pointer;
    font-size: 18px;
    transition: 0.25s ease-in-out;
}

.btn-ninja:hover {
    background: #1DD4B0;
    color: white;
}

body {
    background: url("../img/bg_sub-header_2.png"), #1C1C1C;

}

.ninja-image {
    text-align: center;
    margin: 0 -300px;
}

.ninja-image img {
   width: 100%;
   margin-bottom: -10%;

}

.ninja-image {
    width: 50%;
    max-width: 500px;
}

.napis-ninja, .napis-jobs{
    width: 25%;
    align-items: center;
    display: flex;
}

.napis-ninja {
    justify-content: flex-end;

}

.napis-jobs {

}

.main {
    text-align: center;
    padding-top: 20px;

    display: flex;
}

.board {
    
 
    display: inline-flex;
    max-width: 800px;
    width: 60%;
    flex-grow: 2;
    border: 1px solid black;
    margin: 0 auto;
    padding: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #666;
    text-align: left;
    position: relative;

}



.postit-note {

    background:#ffc;
    height: 180px;
    width: 180px;
    padding: 10px 20px 10px 20px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);

    transition: 0.25s linear;
    cursor: pointer;
    margin-bottom: 50px;
    position: relative;
  
}

.postit-note:nth-child(even) {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #cfc;
  
    
}

.postit-note:nth-child(3n) {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #ccf;
   
}

.postit-note:nth-child(5n) {
    transform: rotate(5deg);
    position: relative;
    top: -10px;
}

.postit-note:hover {
    box-shadow: 10px 10px 7px rgba(0,0,0,0.7);
    transform: scale(1.25);
    z-index: 2;
}


.postit-note h3, .postit-note h5 {
    font-family: "Permanent Marker";
    text-transform: uppercase;
}

.postit-note p {
    font-family: "Architects Daughter";
    font-size: 1.1em;
}

.postit-date {
    font-family: "Architects Daughter";
    font-size: 0.9em;
}

.postit-date {
    position: absolute;
    bottom: 3px;
    right: 6px;
}

.postit-note-close {
    display: none;
}

.in-focus .postit-note-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
    cursor: pointer;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.postit-note.in-focus {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    width: 500px;
    min-height: 500px;
    cursor: initial;
    transform: none;
    max-width: 100%;


}

.postit-note.in-focus:hover {
    transform: none;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.postit-expanded-content {
    display: none;
    margin-top: 20px;

}

.postit-contact-btn {
    display: none;
}

.in-focus .postit-contact-btn {
    display: inline-block;
    position: absolute;
    bottom: 6px;
    left: 12px;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Permanent Marker";
    border: 3px solid black;
    transition: 0.25s ease-in-out;

}

.postit-contact-btn:hover {
    background: white;
}

.postit-expanded-content p {
    font-size: 0.95em;
}

.in-focus .postit-expanded-content {
    display: block;

}

.login-corner {
    position: absolute;
    top: -10px;
    right: 10px;
    background: #666;
    padding: 5px 15px;
    color: #1ABC9C;
    font-size: 18px;
    transition: 0.25s ease-in-out;
    border: 2px solid #1C1C1C;
    cursor: pointer;
}

.login-corner button {
    background: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    outline: none;
    border: none;
}

.login-corner:hover {
    top: -15px;
   }

.search-corner {
    position: absolute;
    top: -10px;
    left: 10px;
    background: #666;
    padding: 5px 15px;
    color: #1ABC9C;
    font-size: 18px;
    transition: 0.25s ease-in-out;
    border: 2px solid #1C1C1C;
    display: none;
}

.search-corner:hover {
    top: -15px;
   }

.pagination-corner {
    position: absolute;
    bottom: -10px;
    right: 10px;
    background: #666;
    padding: 5px 15px;
    color: #1ABC9C;
    font-size: 18px;
    transition: 0.25s ease-in-out;
    border: 2px solid #1C1C1C;

}


/* Menus */

.menu {
    display: inline-block;
    color: #1DD4B0;
    padding: 0 30px;
    width: 20%;
    flex-grow: 1;


}

.left-menu {
    margin-top: 100px;
}

.menu-box {

    padding: 10px 20px;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1));
}

.left-menu input{
    padding: 5px 0;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1));
    border: none;
    margin: 10px 0;

}

.left-menu input:focus {

}

.left-menu p {
    text-align: left;
}

.left-menu input[type=text] {
    width: 100%;
    display: block;
    color: white;
}

.left-menu input[type=text]:focus {
   outline: none;
}

.left-menu input[type=submit]:focus {
    outline: none;
}

.right-menu h2 {
    margin: 20px 0;
}

.right-menu p{
    word-wrap: break-word;
}

.form-modal {
    position: fixed;
    height: 0px;
    width: 0px;
    z-index: 200;
    background: #666666;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    text-align: center;

    transition: 0.25s linear;
}

.form-modal.visible {
    padding: 40px 50px 40px 50px;
    max-width: 100%;
    height: 500px;
    width: 500px;
    overflow: visible;
}

.form-modal input, .board input {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    background: none;
    font-size: 20px;
    border: none;
    padding: 5px 10px;
    transition: 0.25s ease-in-out;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    color: #1ABC9C;
    width: 100%;
}

.form-modal input:focus, .board input:focus {
    outline: none;
    border-bottom: 1px solid #1ABC9C;
}

.form-modal label, .board label {
    display: block;
    text-align: left;
    font-size: 12px;
    padding: 10px 10px;
}

.form-modal .btn-ninja {
    margin-top: 40px;
}

.login-modal-login-corner {
    position: absolute;
    top: -10px;
    right: 10px;
    background: #666;
    padding: 5px 15px;
    color: #1ABC9C;
    font-size: 18px;
    transition: 0.25s ease-in-out;
    border: 2px solid #1C1C1C;
    cursor: pointer;
}

.login-modal-login-corner:hover {
    top: -15px;
}

.login-modal-signup-corner {
    position: absolute;
    top: -10px;
    right: 130px;
    background: #666;
    padding: 5px 15px;
    color: #1ABC9C;
    font-size: 18px;
    transition: 0.25s ease-in-out;
    border: 2px solid #1C1C1C;
    cursor: pointer;
}

.login-modal-signup-corner:hover {
    top: -15px;
}

#mobile-menu-button {
    display: none;
}

select {
    width: 100%;
    height: 30px;
}

.polovica {
    width: 49%;
    flex-basis: 300px;

}

.board .main-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.board img {
    max-width: 100%;
    max-height: 100%;
}


input[type="file"] {
    font-size: 12px;
}



@media (max-width: 845px) {

    .ninja-image {
        margin: 0 -100px;
    }

    h1 {
        font-size: 50px;
    }

}

@media (max-width: 570px) {

    h1 {
        font-size: 32px;
    }

}

@media (max-width: 459px) {

    .board {
        justify-content: center;
    }

    .postit-expanded-content p {

        font-size: 0.8em;
    }
    .postit-expanded-content h5 {
        font-size: 0.9em;
    }


}

@media (max-width: 993px) {
    .menu {
        display: none;
    }

    .search-corner {
        display: block;
    }

    #logout-button {
        display: none;
    }

    #mobile-menu-button {
        display: block;
    }
}